@import '/home/krzysiek/universal/_default_scss_template.scss';

body {
    display: flex;
    margin: 0 3vw;
    gap: 3vw;
    background-color: $darkM;
}

#fifteen {
    min-width: fit-content;
    height: 100vh;
    top: 25vh;
    padding-top: 25vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(4, calc(50vh / 4));
}

#fifteen button {
    font-size: 30px;
    width: calc(50vh / 4);
    height: calc(50vh / 4);
}

#fifteen button.cell {
    color: $secondaryLE;
    background-color: $darkD;
}

#fifteen button.empty {
    color: $darkD;
    background-color: $whiteD;
    cursor: not-allowed;
    pointer-events: none;
}

#panel {
    width: fit-content;
    height: 100vh;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#panel button {
    width: 8vw;
    min-width: fit-content;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 8px;
}

#panel label {
    display: block;
    width: 10vw;
    min-width: fit-content;
    height: fit-content;
    background-color: $primaryM;
    text-align: center;
    padding: 10px;
    margin: 5px;
    user-select: none;
}

#panel label input {
    margin: 5px;
}

#panel label textarea {
    margin: 5px;
    resize: none;
    height: 2.5pc;
    text-align: center;
    font-size: 1.5pc;
}

#experiments_num,
#moves_num {
    width: 100px;
}

#load_hash {
    width: 15vw;
}

#info {
    width: 60vw;
    height: 90vh;
    background-color: $primaryM;
    padding: 10px;
    margin: auto;
    white-space: pre;
    overflow-y: auto;
}
